/*
    Created by: Blein Yirdaw
    Date: 14, January, 2020
*/

h1, h2{
    color : #48A7C2;
    font-family : Georgia,sans-serif;
}

table{
    margin-left: 30px;
    color : white;
    font-size : 18px;
}

p, ul, ol , dl, table{
    color : white;
    font-family : "Trebuchet MS",sans-serif;
    font-weight : 500;
}

p,ul, ol {
    font-size : 18px;

}

p:first-letter{
    font-size: 1.5em;
    font-weight: bold;
}

body {
    background-color : rgb(89, 85, 71);
}
a {
    color : red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
strong, em {
    color : yellow;
}
dl {
    margin-left : 61px;
}
dt {
    color : yellow;
}

dd {
    font-size : 15px;
}

ol.reverse {
    list-style: none;
    counter-reset : cntr 4;
}

ol.reverse > li:before {
    content : counter(cntr) '. ';
}

ol.reverse li{
    counter-increment: cntr -1;
}